# Entorno virtual
.venv/
venv/
env/

# Variables de entorno y secretos
.env
.env.local

# Python cache y compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución y build
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo
